@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");
:root {
  font-size: 16px;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

body {
  height: 100vh;
  background-color: #f2f2f3;
}

.App {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #333A3D;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 3.5rem 1.5rem 4.5rem;
  background: #5e5ea8;
  margin-bottom: 3em;
}

.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #f2f2f3;
  font-size: 1.2rem;
  position: relative;
}

.header__logo::before {
  content: '';
  position: absolute;
  left: -1em;
  top: .1em;
  display: inline-block;
  width: .8em;
  height: .8em;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f2f2f3;
}

.header__links a {
  color: #f2f2f3;
  margin-right: 1.2em;
}

.header__links a:hover {
  text-decoration: underline;
}

.header__links a:active {
  text-decoration: underline;
}

.header__links a:last-child {
  margin-right: 0;
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5em;
}

.blogs {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blogs__blog {
  display: block;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 2em;
  max-width: 80%;
}

.blogs__blog img {
  max-width: 100%;
  max-height: 70%;
}

.blogs__blog span {
  display: inline-block;
  padding: 3em 1em;
}

.blogs__blog:last-child {
  margin-bottom: 0;
}

.blogs__blog:active {
  text-decoration: underline;
}

.blogs__blog:hover {
  scale: 1.004;
}

.blogs__blog:hover .hover {
  opacity: 50%;
}

.blogs__blog:hover::before {
  content: "c";
  width: 2em;
  height: 2em;
  background: #ffff;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 1em;
}

.blog__image {
  position: relative;
}

.blog__image .hover {
  width: 100%;
  height: 100%;
  background: url("../public/img/hover.png") 0 0/cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 20%;
}

.sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding-top: 3em;
}

.sidebar__search {
  background-color: #ffff;
  margin-bottom: 2em;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  padding: 1.5em 2em;
}

.sidebar__ad {
  background-color: #ffff;
  height: 20%;
  padding: 2em 2em;
  margin-bottom: 2em;
}

.sidebar__ad:last-child {
  margin-bottom: 0;
}

.footer {
  font-size: .8rem;
  color: #f2f2f3;
  background: #5e5ea8;
  padding: .8em 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer span {
  margin-right: 2em;
}

.footer a {
  color: #f2f2f3;
}

.footer a:hover {
  text-decoration: underline;
}
